.home-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fffaff;
}
/* .btn-add{
    width: fit-content;
    height: fit-content;
    outline: none;
    background-color: #3f6ce1;
    border-radius: 50%;
    padding: 0px;
} */
.buttons-home *{
    margin-right: 3px;
    margin-left: 3px;
}